In [1]:
import pandas as pd
import numpy as np

In [2]:
hares = pd.read_csv('https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701')
pd.set_option('display.max_columns', None)

In [3]:
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

In [4]:
hares['date'].max()

'9/9/2010'

Take some time to look through the dataset’s description in EDI and click around. Discuss the following questions with your team:

What is this data about?
Snowshoe hares.

During what time frame were the observations in the dataset collected?
1998-2012

Does the dataset contain sensitive data?
No

Is there a publication associated with this dataset?

In your notebook: use a markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

Back in the EDI repository, click on View Full Metadata to access more information if you haven’t done so already. Go to the “Detailed Metadata” section and click on “Data Entities”. Take some time to look at the descriptions for the dataset’s columns.

![Image of a snowshoe hare](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

| Syntax      | Description |
| ----------- | ----------- |
| m          | male       |
| f         | female        |
| m?         | male not confirmed        |

In [7]:
hares.sex.value_counts(dropna=False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

Question 6

In [11]:
conditions = [((hares.sex == 'F') | (hares.sex == 'f') | (hares.sex == 'f_')),
              ((hares.sex == 'M') | (hares.sex == 'm') | (hares.sex == 'm_')) ]

choices = ["female",
           "male"]

# Add the selections using np.select
hares['sex_simple'] = np.select(conditions, 
                             choices, 
                             default=np.nan)

hares['sex_simple'].unique()

array(['nan', 'male', 'female'], dtype=object)

In [28]:
conditions = [hares['sex'].isin(['F', 'f', 'f_']),
              hares['sex'].isin(['M', 'm', 'm_'])]

choices = ["female",
           "male"]

# Add the selections using np.select
hares['sex_simple'] = np.select(conditions, 
                             choices, 
                             default=np.nan)

hares['sex_simple'].unique()

array(['nan', 'male', 'female'], dtype=object)

In [18]:
hares.groupby('sex_simple').weight.mean()

sex_simple
female    1366.920372
male      1352.145553
nan       1176.511111
Name: weight, dtype: float64

Question 7